<%- include("partials/header.ejs") %>
<% if (locals.firstname != "") {%>
<img src="assets/whisper-img.jpg" alt="" class="profileImg">
<form action="" method="get" class="profile">
    <span>
    <label for="fname">First Name</label>
    <input type="text" name="fName" value="<%= firstname %>" disabled></span>
    <span>
    <label for="lname">Last Name</label>
    <input type="text" name="lName" value="<%= lastname %>" disabled></span>
    <span>
    <label for="lname">Email Address</label>
    <input type="text" name="email" value="<%= emailAddress %>" disabled></span>
    <span>
    <label for="pass">Password</label>
    <input type="password" name="pass" value="<%= password %>" disabled></span>
    
    <a href="#">Change Password</a>
    <span>
    <label for="mobilenum">Mobile</label>
    <input type="number" name="mobilenum" value="<%= mobileNumber %>" disabled></span>
    
    <input type="submit" name="updateprofile" value="Update Profile" disabled>
</form>    
    <button style="position: relative; left: 88%;" onclick='document.location.href = "/login";'>Go To Login Page</button>
<% } else if (locals.userexists) {%>
<h5 class="userexists"><%= userexists + " Back to" %>&nbsp<a href="/" style="text-decoration: underline !important;"> home page.</a> </h5>
<% } %>


<%- include("partials/footer.ejs") %>