<%- include("partials/header.ejs") %>
<div class="todo-container">

    <% if (locals.clickcount ) {%>
        <% var j=0; %>
        <% for(var i = 0 ; i < clickcount; i++){ %>
                <div>
                    <div id="sticky-cover-<%= [i] %>" class="taskAttr-todo">
                        <p class="closeAttrDiv"><a href="#sticky-cover-restore-<%= [i] %>">📌</a></p>
                        <p class="firstAttr-todo"><strong><%= taskSubArr[i] %></strong>&nbsp<a id='<%- taskIDArr[i] %>' data-bs-toggle="modal" href="#exampleModal" onclick="update(event.target , 'Update the task sub_title.' , '<%=taskSubArr[i]%>')">✏️</a></p>
                        <p><%= taskDescArr[i] %>&nbsp<a id='<%- taskIDArr[i] %>' data-bs-toggle="modal" href="#exampleModal" onclick="update(event.target , 'Update the task description.' , '<%=taskDescArr[i]%>')">✏️</a></p><br>
                        <% if (locals.subTaskArr) {%>
                        <p><strong>Sub-Tasks-</strong></p>
                        <% for(var j = 0 ; j < subTaskCount[i]; j++){ %>  
                        <p>
                           <% if (subTaskArr[i][j] !== '') {%>
                        <form action="/checkbox-form" method="post">
                            <p id="label-p"> 
                                <label id="sub-task-id-<%= i %>-<%= j %>" for="sub-task-box-<%= j %>" class="<% if (locals.inputfromDB){ inputfromDB.forEach(element => { if ((element)[1] === "checkbox-"+i+"-"+j) { %> <%-(element)[4] %> <%} }) }%>" >
                                    <input id="checkbox-<%= i %>-<%= j %>"  type="checkbox" name="sub-task-box-<%= j %>" onclick=' $("#sub-task-id-<%= i %>-<%= j %>").toggleClass("strikethrough");const taskProgress = new Progress("<%= i %>"); $("#progress-bar<%=i%>").css("width", taskProgress["funcInstance<%= i %>"](event, "<%= i %>" )); store(event,"<%= i %>","<%= j %>",newWidth,$("#sub-task-id-<%= i %>-<%= j %>").attr("class"), check(event),"<%- loginInfo.emailAddress %>");' <%if (locals.inputfromDB){ inputfromDB.forEach(element => { if ((element)[1] === "checkbox-"+i+"-"+j) {%><%= (element)[2] %><% } }) }%> > <%=subTaskArr[i][j] %>
                                <a id='<%- taskIDArr[i] +','+ subTaskIDArr[i][j]  %>' data-bs-toggle="modal" href="#exampleModal" onclick="update(event.target , 'Update the selected sub_tasks.' , '<%=subTaskArr[i][j]%>')">✏️</a><a id='<%- taskIDArr[i] +','+ subTaskIDArr[i][j] %>' onclick="var id = event.target.id;console.log(id); window.location.href = `/delete/${id}` ; event.target.classList.remove(id);  if ('<%-subTaskIDArr[i].length%>'==1){alert('Every task should have at least one subtask! Please remove the task to complete this action.')}">❌</a>
                            </label>
                            </p>
                        </form>
                         </p>
                         <% } %>
                         <% } %>
                         <% } %>
                         <a style="text-align: center;" id='<%- taskIDArr[i] +','+ subTaskIDArr[i][j]  %>' data-bs-toggle="modal" href="#exampleModal" onclick="update(event.target , 'Update the title of the task.' , '<%=titleArr[i]%>')">➕</a>
                    </div>
                    <%- include("partials/editTaskModal.ejs") %> 
                    <img src="assets/sticky-note.jpg" alt="">
                    <span><h4><%= titleArr[i] %></h4>&nbsp<a id='<%- taskIDArr[i] %>' data-bs-toggle="modal" href="#exampleModal" onclick="update(event.target , 'Update the title of the task.' , '<%=titleArr[i]%>')">✏️</a><a id='<%- taskIDArr[i] %>' onclick="var id = event.target.id;console.log(id); window.location.href = `/delete/${id}` ; event.target.classList.remove(id);">❌</a></span>
                    <p><%= currDateArr[i] %> <%= currTimeArr[i] %> hrs</p>
                    <p class="removecover"><a href="#sticky-cover-<%= [i] %>" id="removecover-<%= [i] %>" onclick="event;">📌</a></p>
                    <h5>Progress:</h5>
                    <div id="maximum-width" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-striped progress-bar-animated progress-status"  id="progress-bar<%=i%>" <% /* eslint-disable css-propertyvalueexpected */ %> style = "width :  <% if (locals.inputfromDB){ var w = 0 ; var sameBar = []; var sameBarTasks = [] ; for (var c = 0; c < inputfromDB.length; c++){if (parseFloat((inputfromDB[c])[0])===i & (inputfromDB[c])[4] === "strikethrough") { sameBar.push(inputfromDB[c]);}}; for (var d = 0; d < subTaskCount[i]; d++) { if (((subTaskArr[i])[d]) != "") { sameBarTasks.push((subTaskArr[i])[d]);} }; w = sameBar.length*(182.938/sameBarTasks.length);%> <%- w+"px" %> <% } else {%> 0px <% } %>";></div>
                    </div>
                </div>
            <% } %>    
        <% } %>
   
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script> 

     var i = "";
     var clicks = {};
     clicks[i] = [];   
    

function update(evt, title, val){
   
    const exampleModal = document.getElementById('exampleModal');
    
     // If necessary, you could initiate an Ajax request here
    // and then do the updating in a callback.

    // Update the modal's content.
     exampleModal.querySelector('.modal-title').innerHTML = title;
    
     exampleModal.querySelector('#editVal').value =  val;

     exampleModal.querySelector('#modal_button').classList.add(evt.id) ;

     exampleModal.querySelector('#headerID').value =  (title.split(" ")[title.split(" ").length-1].split("."))[0];
     
    }



  function taskpointer(event){

    // console.log($($(event).attr("href")).children("form").children("p#label-p").children("label").children("input"));
        var i = $(event).attr("id").replace("removecover-","");
        var progwidth = "";
        var subTaskArr = [];
        var initialwidth = $("#progress-bar"+i).width();
        var subTaskArLen = $($(event).attr("href")).children("form").children("p#label-p").length ;
        progwidth = (parseFloat($("#maximum-width").width())/subTaskArLen) ;
        return [initialwidth,progwidth];
    };

    function Progress(i){ 

        this.i = i;
        this["funcInstance" + this.i] = function (e,i) { 
        const [initialwidth, progwidth] =   taskpointer($("#removecover-"+ i)); 
        if($(e.target).is(":checked")===true)
            if (clicks[i] === undefined ){
            {clicks[i] = ["clicked"];}
            }
            else{
                clicks[i].push("clicked")
            }
        else {
            if (clicks[i] === undefined ){
            {clicks[i] = [];}
            }
            clicks[i].pop("clicked");
        }

        if  ($(e.target).is(":checked")!==true){
           newWidth = (parseFloat(initialwidth)-parseFloat(progwidth));
          }
        else{
          newWidth = (parseFloat(initialwidth)+parseFloat(progwidth));
         };
   
        return newWidth;
          };   
}

function check(e){
    
   // console.log($(e.target).is(":checked"));
    if ($(e.target).is(":checked")=== true){
        return "checked";
    }
    else {
        return "" ;
    }
}

function store(event,i,j, barWidth,labelCSS,checkState,email){
       
       outputforDB = []; 
  idArray = $(($("#removecover-"+ i)).attr("href")).children("form").children("p#label-p").children("label").children("input");

  if ($(idArray[j]).attr("id") === $(event.target).attr("id")) {    
    outputforDB.push([i,$(idArray[j]).attr("id"),barWidth,labelCSS,checkState,email]);
   console.log(outputforDB);
}
    const data = {
       inputonLoad: outputforDB 
    }

    $.post("/checkbox-form",data)
}

</script>

<%- include("partials/footer.ejs") %>

<%# 
function store(event,identifier, barWidth,labelCSS,checkState){
    //      debugger;
    idArray = $($(event).attr("href")).children("form").children("p#label-p").children("label");
  
    idArray.forEach(element => {
  
      dataArrID_.push(identifier);
      dataArrWidth.push(barWidth);
      dataArrCSS.push(labelCSS);
      dataArrChk.push(checkState);
  
      const data = {
          val0 : removecover(identifier),
          val1: barWidth,
          val2 : labelCSS,
          val3 : checkState,
      }
  });
      dataArrID.push(identifier);
      console.log(dataArrID);
      
      if (dataArrID.length===0){ 
  
      $.post("/checkbox-form",data)
      
      console.log(dataArrID[parseFloat(identifier)-1]);
          console.log(dataArrID[identifier]);
      }
      else{
          var idVal1 = dataArrID[identifier]; var idVal2 = dataArrID[parseFloat(identifier)-1];
       if  (idVal1 !== undefined  || idVal1 === idVal2){
          debugger;
              $.post("/checkbox-form",data);
              dataArrID.shift();
              console.log(dataArrID);
          }
  
          else if (idVal1 !== idVal2){
              
              const data = {
          val0 : dataArrID_.push(identifier),
          val1: dataArrWidth.push(barWidth),
          val2 : dataArrCSS.push(labelCSS),
          val3 : dataArrChk.push(checkState),
              }
  
              $.post("/checkbox-form",data)
          }
        }
      }
  
 %>